<footer>
  <section class="container">
    <div class="colspan-2 footer__content">
      <p>
        <a href="mailto:hello@sarashoemake.com">Email</a>
        <span class="link-divider">/</span>
        <a href="https://twitter.com/sarashoemake">Twitter</a>
        <span class="link-divider">/</span>
        <a href="https://www.instagram.com/sarashoemake/">Instagram</a>
        <span class="link-divider">/</span>
        <a href="https://www.linkedin.com/in/sarashoemake">LinkedIn</a>
      </p>
    </div>
    <section class="colspan-2">
      <div class="small">
        &copy; Sara Shoemake 2019
      </div>
    </section>
  </section>
</footer>
